.cusGrid {
    height: 100vh;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.cusGrid>img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}